# templates/secret_template.yml.j2
apiVersion: v1
kind: Secret
metadata:
  name: "{{ secret.secret_name }}"
  namespace: "{{ secret.namespace }}"
type: {{ secret.secret_type }}
data:
  username: "{{ secret.username | b64encode }}"
  password: "{{ secret.password | b64encode }}"